<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>1级标题</h1>
        <a href="https://cn.bing.com/">点击跳转</a>
        <h2>2级标题</h2>
        <a href="/get/news">点击跳转</a>
        <img src="//www.baidu.com/img/pcdoodle_2a77789e1a67227122be09c5be16fe46.png">
        <h3>3级标题</h3>
        <h4>4级标题</h4>
        <h5>5级标题</h5>
        <ul>
            <li>中国联通</li>
            <li>中国移动</li>
        </ul>
        <ol>
            <li>中国联通</li>
            <li>中国移动</li>
        </ol>
        <table border="1">
            <thead>
                <tr> <th>ID</th> <th>name</th> <th>age</th> </tr>
            </thead>
            <tbody>
                <tr> <td>10</td> <td>张三</td> <td>12</td> <tr>
                <tr> <td>11</td> <td>李四</td> <td>33</td> <tr>
            </tbody>
        </table>
        <input type="text" />
        <input type="password">
        <input type="radio" name="n1">男
        <input type="radio" name="n1">女
        <input type="button" value="提交">
        <input type="submit" value="提交">
        <select>
            <option>北京</option>
            <option>上海</option>
            <option>深圳</option>
        </select>
</body>
</html>